@tailwind base;

/*
  Additional "resets" based on Josh's article:
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
@layer base {
	*,
	*::before,
	*::after {
		box-sizing: border-box;
	}

	body {
		-webkit-font-smoothing: antialiased;
		isolation: isolate;
		flex-grow: 1;
	}

	html,
	body {
		min-height: 100%;
		display: flex;
		flex-direction: column;
	}

	html {
		min-height: 100vh;
	}

	input,
	button,
	textarea,
	select {
		font: inherit;
	}
	p,
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		overflow-wrap: break-word;
	}

	a {
		@apply text-primary-500 underline;
	}

	a[aria-disabled] {
		@apply pointer-events-none;
	}

	strong {
		@apply font-bold;
	}

	:root {
		--primary-color: #1a202c;
	}

	/* view transition animations */
	@keyframes fade-out {
		to {
			opacity: 0;
		}
	}

	@keyframes slide-from-right {
		from {
			transform: translateX(100%);
		}
	}

	:root::view-transition-old(root) {
		pointer-events: none;
		animation: 300ms ease-out both fade-out;
	}

	:root::view-transition-new(root) {
		pointer-events: none;
		animation: 300ms ease-out both slide-from-right;
	}
}

@tailwind components;
@tailwind utilities;
